@charset "UTF-8";


@font-face {
    font-family: 'univers65';
    src:url('./fonts/univers65/univers_65_bold-webfont.eot');
    src:url('./fonts/univers65/univers_65_bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('./fonts/univers65/univers_65_bold-webfont.svg#tunivers_65_bold') format('svg'),
        url('./fonts/univers65/univers_65_bold-webfont.woff') format('woff'),
        url('./fonts/univers65/univers_65_bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'univers45';
    src:url('./fonts/univers45/univers_45_light-webfont.eot');
    src:url('./fonts/univers45/univers_45_light-webfont.eot?#iefix') format('embedded-opentype'),
        url('./fonts/univers45/univers_45_light-webfont.svg#tunivers_45_light') format('svg'),
        url('./fonts/univers45/univers_45_light-webfont.woff') format('woff'),
        url('./fonts/univers45/univers_45_light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'forgotten';
    src:url('./fonts/forgotten/forgotten-webfont.eot');
    src:url('./fonts/forgotten/forgotten-webfont.eot?#iefix') format('embedded-opentype'),
        url('./fonts/forgotten/forgotten-webfont.svg#tforgotten') format('svg'),
        url('./fonts/forgotten/forgotten-webfont.woff') format('woff'),
        url('./fonts/forgotten/forgotten-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nilland';
    src:url('./fonts/nilland/nilland-webfont.eot');
    src:url('./fonts/nilland/nilland-webfont.eot?#iefix') format('embedded-opentype'),
        url('./fonts/nilland/nilland-webfont.svg#tnilland') format('svg'),
        url('./fonts/nilland/nilland-webfont.woff') format('woff'),
        url('./fonts/nilland/nilland-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'halion';
    src:url('./fonts/halion/halion-webfont.eot');
    src:url('./fonts/halion/halion-webfont.eot?#iefix') format('embedded-opentype'),
        url('./fonts/halion/halion-webfont.svg#thalion') format('svg'),
        url('./fonts/halion/halion-webfont.woff') format('woff'),
        url('./fonts/halion/halion-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'girolight';
    src:url('./fonts/girolight/girolight001-webfont.eot');
    src:url('./fonts/girolight/girolight001-webfont.eot?#iefix') format('embedded-opentype'),
        url('./fonts/girolight/girolight001-webfont.svg#tgirolight001') format('svg'),
        url('./fonts/girolight/girolight001-webfont.woff') format('woff'),
        url('./fonts/girolight/girolight001-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
                                                                                                                /* This 2 don't always work for some reason..  */
@font-face {
    font-family: 'girooutline';
    src:url('./fonts/girooutline/girooutline001-webfont.eot');
    src:url('./fonts/girooutline/girooutline001-webfont.eot?#iefix') format('embedded-opentype'),
        url('./fonts/girooutline/girooutline001-webfont.svg#tgirooutline001') format('svg'),
        url('./fonts/girooutline/girooutline001-webfont.woff') format('woff'),
        url('./fonts/girooutline/girooutline001-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'nasalization-rg-webfont';
    src: url('./fonts/nasalization-rg-webfont/nasalization-rg-webfont.eot');
    src: url('./fonts/nasalization-rg-webfont/nasalization-rg-webfont.eot?#iefix') format('embedded-opentype'),
          url('./fonts/nasalization-rg-webfont/nasalization-rg-webfont.woff') format('woff'),
          url('./fonts/nasalization-rg-webfont/nasalization-rg-webfont.ttf') format('truetype'),
          url('./fonts/nasalization-rg-webfont/nasalization-rg-webfont/nasalization-rg-webfont.svg#nasalization-rg-webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'space_age-webfont';
    src: url('./fonts/space_age-webfont/space_age-webfont.eot');
    src: url('./fonts/space_age-webfont/space_age-webfont.eot?#iefix') format('embedded-opentype'),
          url('./fonts/space_age-webfont/space_age-webfont.woff') format('woff'),
          url('./fonts/space_age-webfont/space_age-webfont.ttf') format('truetype'),
          url('./fonts/space_age-webfont/space_age-webfont/space_age-webfont.svg#space_age-webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}



@font-face {
    font-family: 'brain_flower_euro-webfont';
    src: url('./fonts/brain_flower_euro-webfont/brain_flower_euro-webfont.eot');
    src: url('./fonts/brain_flower_euro-webfont/brain_flower_euro-webfont.eot?#iefix') format('embedded-opentype'),
          url('./fonts/brain_flower_euro-webfont/brain_flower_euro-webfont.woff') format('woff'),
          url('./fonts/brain_flower_euro-webfont/brain_flower_euro-webfont.ttf') format('truetype'),
          url('./fonts/brain_flower_euro-webfont/brain_flower_euro-webfont.svg#brain_flower_euro-webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'pixelsix00-webfont';
    src: url('./fonts/pixelsix00-webfont/pixelsix00-webfont.eot');
    src: url('./fonts/pixelsix00-webfont/pixelsix00-webfont.eot?#iefix') format('embedded-opentype'),
          url('./fonts/pixelsix00-webfont/pixelsix00-webfont.woff') format('woff'),
          url('./fonts/pixelsix00-webfont/pixelsix00-webfont.ttf') format('truetype'),
          url('./fonts/pixelsix00-webfont/pixelsix00-webfont.svg#pixelsix00-webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}




@font-face {
    font-family: '04b_21__-webfont';
    src: url('./fonts/04b_21__-webfont/04b_21__-webfont.eot');
    src: url('./fonts/04b_21__-webfont/04b_21__-webfont.eot?#iefix') format('embedded-opentype'),
          url('./fonts/04b_21__-webfont/04b_21__-webfont.woff') format('woff'),
          url('./fonts/04b_21__-webfont/04b_21__-webfont.ttf') format('truetype'),
          url('./fonts/04b_21__-webfont/04b_21__-webfont.svg#04b_21__-webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'm04b-webfont';
    src: url('./fonts/m04b-webfont/m04b-webfont.eot');
    src: url('./fonts/m04b-webfont/m04b-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/m04b-webfont/m04b-webfont.woff') format('woff'),
         url('./fonts/m04b-webfont/m04b-webfont.ttf') format('truetype'),
         url('./fonts/m04b-webfont/m04b-webfont.svg#m04b-webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}




@font-face {
  font-family: "FontAwesome";
  src: url("fonts/fontawesome-webfont.eot");
  src: url("fonts/fontawesome-webfont.eot?#iefix") format("eot"), url("fonts/fontawesome-webfont.woff") format("woff"), url("fonts/fontawesome-webfont.ttf") format("truetype"), url("fonts/fontawesome-webfont.svg#FontAwesome") format("svg");
  font-weight: normal;
  font-style: normal; }


@font-face {
    font-family: 'kghappy';
    src:url('./fonts/kghappy/kghappy-webfont.eot');
    src:url('./fonts/kghappy/kghappy-webfont.eot?#iefix') format('embedded-opentype'),
        url('./fonts/kghappy/kghappy-webfont.svg#tkghappy') format('svg'),
        url('./fonts/kghappy/kghappy-webfont.woff') format('woff'),
        url('./fonts/kghappy/kghappy-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'kghappyshadows';
    src:url('./fonts/kghappy/kghappyshadows-webfont.eot');
    src:url('./fonts/kghappy/kghappyshadows-webfont.eot?#iefix') format('embedded-opentype'),
        url('./fonts/kghappy/kghappyshadows-webfont.svg#tkghappyshadows') format('svg'),
        url('./fonts/kghappy/kghappyshadows-webfont.woff') format('woff'),
        url('./fonts/kghappy/kghappyshadows-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'kablamo';
    src:url('./fonts/kablamo/ka-blamo-webfont.eot');
    src:url('./fonts/kablamo/ka-blamo-webfont.eot?#iefix') format('embedded-opentype'),
        url('./fonts/kablamo/ka-blamo-webfont.svg#tkablamo') format('svg'),
        url('./fonts/kablamo/ka-blamo-webfont.woff') format('woff'),
        url('./fonts/kablamo/ka-blamo-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'indiepimp';
    src:url('./fonts/indiepimp/indiepimptbs-webfont.eot');
    src:url('./fonts/indiepimp/indiepimptbs-webfont.eot?#iefix') format('embedded-opentype'),
        url('./fonts/indiepimp/indiepimptbs-webfont.svg#tindiepimp') format('svg'),
        url('./fonts/indiepimp/indiepimptbs-webfont.woff') format('woff'),
        url('./fonts/indiepimp/indiepimptbs-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



@font-face {
    font-family: 'hangup';
    src:url('./fonts/hangup/hangup-webfont.eot');
    src:url('./fonts/hangup/hangup-webfont.eot?#iefix') format('embedded-opentype'),
        url('./fonts/hangup/hangup-webfont.svg#thangup') format('svg'),
        url('./fonts/hangup/hangup-webfont.woff') format('woff'),
        url('./fonts/hangup/hangup-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'madbubbles';
    src:url('./fonts/madbubbles/mad_bubbles-webfont.eot');
    src:url('./fonts/madbubbles/mad_bubbles-webfont.eot?#iefix') format('embedded-opentype'),
        url('./fonts/madbubbles/mad_bubbles-webfont.svg#tmad_bubbles') format('svg'),
        url('./fonts/madbubbles/mad_bubbles-webfont.woff') format('woff'),
        url('./fonts/madbubbles/mad_bubbles-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'riot';
    src:url('./fonts/riot/riot-webfont.eot');
    src:url('./fonts/riot/riot-webfont.eot?#iefix') format('embedded-opentype'),
        url('./fonts/riot/riot-webfont.svg#triot') format('svg'),
        url('./fonts/riot/riot-webfont.woff') format('woff'),
        url('./fonts/riot/riot-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'artstudio';
    src:url('./fonts/artstudio/art_studio-webfont.eot');
    src:url('./fonts/artstudio/art_studio-webfont.eot?#iefix') format('embedded-opentype'),
        url('./fonts/artstudio/art_studio-webfont.svg#tart_studio') format('svg'),
        url('./fonts/artstudio/art_studio-webfont.woff') format('woff'),
        url('./fonts/artstudio/art_studio-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0; 
}

html {
  width: 100%;
  height: 100%;
  overflow: hidden; 
  background-color: gray;
}

body {
/*  background-color: #000;*/
  font-family: "Lato", sans-serif;

  width: 100%;
  height: 100%;

  overflow: hidden; 
  overflow-x:auto;

  line-height: 1.5;
}



h1, h2, h3, h4 {
  font-family: "PT Serif", serif;
  font-weight: normal; }


a {
  text-decoration: none;
  -webkit-transition: all 150ms ease-in-out;
  -moz-transition: all 150ms ease-in-out;
  -o-transition: all 150ms ease-in-out;
  -ms-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out; }




/*///////////////////////////////  S L I D I N G   P A N E L  ///////////////////////////////*/



.panel {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  /*overflow-y: hidden; */
  overflow-x: hidden;
}


/*///////////////////////////////  N A V  ///////////////////////////////*/

/*div::-webkit-scrollbar {
    width: 12px;
}*/

.nav {
  width: 100%;
  height: 66px;          
  position: fixed;
  z-index: 3;
  top: 0;
/*-webkit-box-shadow: 1px -5px 23px -2px rgba(117,117,117,1);
-moz-box-shadow: 1px -5px 23px -2px rgba(117,117,117,1);
box-shadow: 1px -5px 23px -2px rgba(117,117,117,1);*/
  overflow: hidden;
  z-index: 1002;
/*  background: rgba(255,255,255,0.9); */
/*  background: #f7f7f7;*/
}

.nav ul {
  display: table;
  margin:0 auto;
  width: auto;
  list-style: none; 
}


.nav li {
  display: inline-block;
  width:auto;
  text-align: center;
  margin-top:20px;
  margin-left: 30px;
}
.nav li:first-child{
  margin-left: 0px;
}

.nav li:last-child {

  border-right: none;
}

.nav ul li a {
  display: block;
  text-decoration: none;
  font-size: 44px;
  font-family: 'girolight';
  text-shadow:
   -1px -1px 0 #bda2a3,  
    1px -1px 0 #bda2a3,
    -1px 1px 0 #bda2a3,
     1px 1px 0 #bda2a3;
}

.nav ul li a:hover {
    color:#e62046;
}
.selected, .lastselected{
    color:#e62046;
}
.unselected {
    color:#000;
}

/*.nav ul li a:focus,.nav ul li a:visited {
    color:purple;
}*/

.nav ul li .nav-img{
/*  background-image:url(img/next.png);
  background-size: 100% 100%;*/
    font-family: '04b_21__-webfont';
}


/*//////////////////  W R A P P E R   +   DIF SECTIONS  INDIVIDUAL PLACEMENT  ////////////////////////////////////*/



.wrapper {
  width: 100%;

/*  background: #93ab9f; 
*/    /*margin-top: 25px;       SAME AS NAV's HEIGHT */
}

.inner-wrapper {
    min-height: 100%;
    padding-top: 70px;
    z-index: 2;
}



.wrapper-top {
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  bottom:0;
  left:0;
  right:0;
  z-index:2;
  display: none;
  background-size: 100% 100%;

/*  background-image: url(img/pattern.png);
  background-repeat: repeat;*/
}

.wrapper-top img {
  width:100%;
  height: 100%;
}

/*.pattern-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  bottom:0;
  left:0;
  right:0;

  background-image: url(img/pattern.png);
  background-repeat: repeat;
}*/

.divo {
  display: block;
  position: absolute;
  top:0;
  /*float: left;*/
  height: 100%;
  z-index: 1;
}

.divo p {
  position: absolute;
  bottom:30px;
  right: 0;
  text-align: right;
  z-index: 100;
}

.innertext {
  color:#000;
  background-color: rgba(255,255,255,0.9);
  position: relative;
  z-index: 2;
  font-family: 'univers45';
  font-size: 1.5em;
  padding-top:5px;
  padding-bottom:4px;
}


.innertext a {
  color:#e62046;
}

.nopad {
  padding-top:0;
  padding-bottom:0;
  color:white;
  background-color: black;
}

/*#about .innertext{
  color:#fff;
  background-color: rgba(0,0,0,0.9);
}
#about .nopad {
  color:black;
  background-color:white;
}
#about .innertext:last-child{
  padding: 0 4px 0 0; 
  padding-top:5px;
  padding-bottom:4px;
  background-color: #e62046; 
}*/

.innertext:first-child{
  padding: 0 0 0 4px;  
}
.innertext:last-child{
  padding: 0 4px 0 0; 
  padding-top:5px;
  padding-bottom:4px;
  background-color: #e62046; 
}
.innertext:nth-last-child(2){
  padding-right: 4px;
}
.innertext-wrapper {
  width:auto;
  height: auto;
  margin: 0 5%;
  padding-top: 70px;  
  position: relative;
  z-index: 2;
  font-size: 20px;
  color:white;
}

.divo .innertext-wrapper {
  padding-top: 130px;  
}

#site1text, #site2text, #abouttext{
  display: block;
  padding: 10px;
  padding-top:40px;
}
#divo1text, #divo2text, #divo3text {

  display: block;
  padding: 10px;
  padding-top:40px;
}
/*  AMBOS DOS AQUELLOS AQUI ARRIBA   ---> SUJETOS A REPONSIVIDAD!!!  */

.b {
  display: none;
  position: absolute;
  opacity: 0.8;
  bottom:0;
  right: 0;
  z-index: 3000;
  background-image: url(img/next3.png);
  background-position: 0 0;
  background-size: 200% 100%;
  width: 120px;
  height: 120px;
}

.b:hover {
  cursor: pointer;
  background-position: 100% 0;
}

.b:hover {
  cursor: pointer;
}


#inner-wrapper {
  display: block;
  width:100%;
  height: 100%;
}

.divo:nth-child(1) {
  background-image: url(img/port.png);
  background-size: cover;
}

.divo:nth-child(2) {
  background-image: url(img/api.png);
  background-size: cover;
}
.divo:nth-child(3) {
  background-image: url(img/wow.png);
  background-size: cover;
}


.divo:hover {
  cursor: pointer;
}

#about {
  color: black;
  left: 0;

  overflow-y:auto;
}

#experiments {

  left: 100%;
  overflow: hidden;
 /* background-image: url(img/step1.jpg);*/

}

#about p{

  color:#fff;
  background-color: rgba(0,0,0,0.9);
  position: relative;
  z-index: 2;
  font-family: 'univers45';
  font-size: 1.5em;
  padding-top:5px;
  padding-bottom:4px;
}
/*#about .innertext-wrapper{
  margin:0;
  position: absolute;
  width: auto;
  bottom: 3%;
  left:80%;
}*/

/*#about p:first-child{
  margin-top: 4px;
  padding: 0 0 0 4px; 
  color: #000;
  background-color: rgba(255,255,255,0.9);  
}*/



#site1 {
  left: 200%;
  background-image:url(img/kimono11.png);
  background-size: cover;
}

.next {
  display: block;
  position: absolute;
  opacity: 0.6;
  bottom:0;
  right: 0;
  z-index: 3;
  background-image: url(img/next3.png);
  background-position: 0 0;
  background-size: 200% 100%;
  width: 120px;
  height: 120px;
}

.next:hover, .divonext:hover {
  cursor: pointer;
  background-position: 100% 0;
}

.divonext {
  display: none;
  position: absolute;
  opacity: 0.6;
  bottom:0;
  right: 0;
  z-index: 3;
  background-image: url(img/next3.png);
  background-position: 0 0;
  background-size: 200% 100%;
  width: 120px;
  height: 120px;
}

.gotosite, .divosite, .aboutsite {
  display: block;
  position: absolute;
  bottom:78px;
  font-size: 24px;
  z-index: 1;
  text-align: center;
  background-color:white;
  width: auto;
  height: auto;
  padding: 6px;
  font-family: 'univers45';
  color:#08000a;
  -webkit-box-shadow: 10px 10px 0px 11px rgba(255,255,255,0.5);
  -moz-box-shadow: 10px 10px 0px 11px rgba(255,255,255,0.5);
  box-shadow: 3px 3px 0px 2px rgba(255,255,255,0.5);

}
.divosite a, .gotosite a{
  text-decoration: none;
  color:#08000a;
}
.gotosite:hover, .divosite:hover, .aboutsite:hover{
  cursor: pointer;
  background-color:rgba(0,0,0,0.8);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}


.divosite:hover.divosite a, .gotosite:hover.gotosite a{
  color: #e62046;

}

.aboutsite:hover{
  color: #e62046;

}


/*.aboutsite {

  color:white;
  background-color:rgba(09,09,09,0.8);
  -webkit-box-shadow: 10px 10px 0px 11px rgba(255,255,255,0.5);
  -moz-box-shadow: 10px 10px 0px 11px rgba(255,255,255,0.5);
  box-shadow: 3px 3px 0px 2px rgba(255,255,255,0.5);

}*/
/*.aboutsite:hover {
  cursor: pointer;
  color: #e62046;
  background-color:rgba(0,0,0,0.8);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}*/

.divosite {
  display: none;
}


.inner img, .pattern-bg,.inner2 img, .inner3 img{
    position:absolute;
    top:0;
    display:block;
    width:100%;
    height:100%;
    z-index: 0;
}

/*.pattern-bg {
  background-color: rgba(0,0,0,0.7);
    background-image: url(img/pattern2.png);
    background-repeat: repeat;
    z-index: 1;
    display: block;
}*/

/*#site1::after {
  content: "";
  background-image: url(img/step1.jpg);
  opacity: 0.9;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;    
}*/


#site2 {
  left: 300%;
  background-image:url(img/gillies1.png);
  background-size: cover;
}

#site2text {
  display: block;
padding: 10px;

}

/*
#f0 {
  left: 500%;
  background-image: url(img/2.png);
  background-size:cover;
}

#f1 {
  left: 600%;
  background-image: url(img/3.png);
  background-size:cover;
}

#f2 {
  left: 700%;
  background-image: url(img/4.png);
  background-size:cover;
}*/

#contact {
  left: 800%;
  background-color: #080e10;
}

.contactdiv {

  color: red;
  display: block;
}
.contact-form {
  margin-top: 30px;
  width:46%;
  margin-left: 28%;
  color: white;
}
.hidden {
  visibility: hidden;
}

label {
  text-align: center;
  vertical-align: top;
  margin-right: 1%;
  display: inline-block;
  width:19%;
  font-family: 'univers45';
  font-size: 1.1em;
 /* color: #e62046;*/
}

textarea {
/*  outline-color: #e62046;*/
  outline: none;
  border:none;
  padding-top: 8px;
  border-radius: 2px;
  display: inline-block;
  width:53%;
  max-width:53%;
  min-width:53%;
  height: 25vh;
  max-height: 25vh;
  min-height: 25vh; 
  color: white;
  background-color: black;
  font-family: 'univers45';
  font-size: 0.8em;
  text-indent: 6px;
}

input {

/*  outline-color: #e62046;*/
  outline: none;
  text-indent: 6px;
  border:none;
  width:54%;
  font-family: 'univers45';
  font-size: 0.8em;
  height: 30px;
  color: white;
  background-color: black;
  margin-bottom: 10px;
 }

input[type=submit] {
  border-radius: 0;
  border: none;
  position: absolute;
  bottom:78px;
  font-size: 24px;
  z-index: 1;
  text-align: center;
  background-color:rgba(255,255,255,0.8);
  width: auto;
  height: auto;
  padding: 10px;
  font-family: 'univers45';
  color:white;
  background-color:rgba(09,09,09,0.8);
  -webkit-box-shadow: 10px 10px 0px 11px rgba(255,255,255,0.5);
  -moz-box-shadow: 10px 10px 0px 11px rgba(255,255,255,0.5);
  box-shadow: 3px 3px 0px 2px rgba(255,255,255,0.5);
  margin-bottom: 0;
}


input[type=submit]:hover{
  color:#e62046;
  cursor: pointer;
  background-color:rgba(0,0,0,0.8);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.clearfix {
    display: inline-block;
}

.formdiv  {
  margin-bottom:2%;
  margin-top:2%;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

/*//////////////////////////////////////////// mmmmmmmmm  .. why do I hve to preLoad only starting by the 6th one??  ///*/
#preload_area
{
    background-image: url(img/6.png);

    width: 0px;
    height: 0px;
    display: inline;
}
#preload_area2
{


    background-image: url(img/7.png);

    width: 0px;
    height: 0px;
    display: inline;
}



/*/////////////////////////////////////////////////////////////////////////////////////////*/
/*.clearfix {
    display: inline-block;
}*/

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}


.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}





@media screen and (max-width: 1024px) { 

.aboutsite, .gotosite, .divosite,  input[type=submit] {

  font-size: 18px;

}


textarea {

  height: 18vh;
  max-height: 18vh;
  min-height: 18vh; 

}
.innertext-wrapper {
  padding-top: 30px;  

}


.divo .innertext-wrapper {
  padding-top: 100px;  
}
.innertext, .innertext-wrapper {

  font-size: 1.3em;

}

a {
  text-decoration: none;
}

.contact-form {
  margin-top: 30px;
  width:70%;
  margin-left: 15%;
  color: white;
}

}



@media screen and (max-width: 768px) {

.aboutsite, .gotosite, .divosite,  input[type=submit] {

  font-size: 14px;

}
.innertext-wrapper {
  padding-top: 20px;  

}

textarea {

  height: 17vh;
  max-height: 17vh;
  min-height: 17vh; 

}

.innertext, .innertext-wrapper {

  font-size: 1.1em;

}
.divo .innertext-wrapper {
    font-size: 1em; 
}

.contact-form {
  margin-top: 30px;
  width:80%;
  margin-left: 10%;
  color: white;
}

}

@media screen and (max-width: 492px) {

.aboutsite, .gotosite, .divosite, input[type=submit] {

  font-size: 12px;

}

.innertext-wrapper {
  padding-top: 10px;  

}



textarea {

  height: 18vh;
  max-height: 18vh;
  min-height: 18vh; 

}


.innertext, .innertext-wrapper  {

  font-size: 1em;

}

.divo .innertext-wrapper {
  padding-top: 70px;
    font-size: 0.9em; 
}

.contact-form {
  margin-top: 30px;
  width:90%;
  margin-left: 5%;
  color: white;
}


}